<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!-- see http://www.phpunit.de/wiki/Documentation -->
<phpunit bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Default">
            <directory suffix="Test.php">default</directory>
        </testsuite>
        <testsuite name="handlebars">
            <directory suffix="Test.php">handlebars</directory>
        </testsuite>
        <testsuite name="mustache">
            <directory suffix="Test.php">mustache</directory>
        </testsuite>
        <testsuite name="Standalone">
            <directory suffix="Test.php">Standalone</directory>
        </testsuite>
    </testsuites>

    <!--<logging>-->
        <!--<log type="coverage-clover" target="build/logs/clover.xml"/>-->
    <!--</logging>-->
</phpunit>
